<!-- <div>{{ appState$ | async | json }}</div> -->
<div class="container-xl" style="margin-top: 30px;">

  <div class="container text-center" style="padding: 50px; background-color: aquamarine;">
    <div class=" row">
      <div class="col-4">
        <h1>Manage Servers</h1>
      </div>
      <div class="col-2">
      </div>
      <div class="col-6" style="display: flex; justify-content: space-between;">

        <div class="form-floating">
          <select id="floatingSelect" (ngModelChange)="filterServers($event)" ngModel="ALL" class="form-select">
            <option value="ALL">ALL</option>
            <option value="SERVER_UP">SERVER UP</option>
            <option value="SERVER_DOWN">SERVER Down</option>
          </select>
          <label for="floatingSelect">Select Servers</label>
        </div>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <!--Add icon link -->
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle"
            viewBox="0 0 16 16">
            <path
              d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm0-1A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm1-8a.5.5 0 0 0-.5-.5H8V6a.5.5 0 0 0-1 0v.5H6a.5.5 0 0 0 0 1h.5V9a.5.5 0 0 0 1 0V8.5H9a.5.5 0 0 0 .5-.5z" />
          </svg>
          Add Server
        </button>

        <button (click)="printReport()" type="button" class="btn btn-dark">Print Report</button>

        <button (click)="saveAsPdf()" type="button" class="btn btn-light">Save as PDF</button>

      </div>
    </div>
  </div>

  <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">

    <ng-container *ngSwitchCase="DataState.LOADING_STATE">
      <div class="card" aria-hidden="true">
        <p class="card-text placeholder-glow">
          <a style="height: 500px;" href="#" tabindex="-1" class="btn btn-warning disabled placeholder col-12"></a>
        </p>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="DataState.ERROR_STATE">
      <div
        style="background-color:rgb(249, 155, 139); height: 500px; display: flex; justify-content: center; align-items: center;"
        class="container">
        <div class="alert-danger">
          <blockquote class="blockquote">
            <p>{{appState.error}}</p>
          </blockquote>
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="DataState.LOADED_STATE">
      <table class="table" id="servers">

        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">IP Address</th>
            <th scope="col">Name</th>
            <th scope="col">Memory</th>
            <th scope="col">Type</th>
            <th scope="col">Status</th>
            <th scope="col">Ping</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>

        <tbody *ngFor="let server of appState.appData.data.servers; let i = index;">
          <tr>
            <th scope="row">
              <img width="30px" [src]="server.imageUrl" [alt]="server.name">
            </th>
            <td>{{server.ipAddress}}</td>
            <td>{{server.name}}</td>
            <td>{{server.memory}}</td>
            <td>{{server.type}}</td>
            <td>
              <span class="badge rounded-pill"
                [ngClass]="[server.status === Status.SERVER_UP ? 'text-bg-success' :'text-bg-danger']">
                {{server.status === Status.SERVER_UP ? 'Server Up' :'Server Down'}}
              </span>
            </td>
            <td>
              <a (click)="pingServer(server.ipAddress)">
                <img *ngIf="(filterStatus$ | async) === '' || (filterStatus$ |  async) !== server.ipAddress"
                  width="30px" class="ping-server"
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYvCoXeNvNXq4zfsx7S2BuymA1YLGSOq-yROATS4wtgg&s"
                  alt="ping">
              </a>
              <p *ngIf="(filterStatus$ |  async) === server.ipAddress" class="card-text placeholder-glow">
                <a href="#" tabindex="-1" class="btn btn-danger disabled placeholder col-6"></a>
              </p>
            </td>
            <td>
              <img (click)="deleteServer(server)" style="cursor: pointer;" width="30px" src="https://cdn-icons-png.flaticon.com/512/1345/1345874.png"
                alt="delete">
            </td>
          </tr>
        </tbody>

      </table>
    </ng-container>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form #serverForm="ngForm" (ngSubmit)="saveServer(serverForm)">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Add Server</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label class="form-label">IP</label>
                <input type="text" ngModel class="form-control" name="ipAddress" required>
              </div>
              <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" ngModel class="form-control" name="name" required>
              </div>
              <div class="row">
                <div class="col">
                  <label class="form-label">Memory</label>
                  <input type="text" ngModel class="form-control" name="memory" required>
                </div>
                <div class="col">
                  <label class="form-label">Type</label>
                  <input type="text" ngModel class="form-control" name="type" required>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">Status</label>
                <select class="form-control" name="status" required ngModel="SERVER_DOWN">
                  <option value="SERVER_UP">SERVER UP</option>
                  <option value="SERVER_DOWN">SERVER DOWN</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button id="closeModal" type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
              <button [disabled]="serverForm.invalid || (isLoading$ | async)" type="submit" class="btn btn-success">
                <p *ngIf="isLoading$ | async" class="card-text placeholder-glow">
                  <span class="placeholder">Saving...</span>
                </p>
                <span *ngIf="!(isLoading$ | async)">Add</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </ng-container>
</div>

<notifier-container></notifier-container>
